*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
:root {
    font-size: 10px;
}
body {
    font-size: 2rem;
    color: white;
    overflow-x: hidden;
    background-color: #222;
    width: 100vw;
    height: 90vh;
    font-family: 'Quicksand', sans-serif;
 
}

header {
    font-family: 'Orbitron', sans-serif;
    font-size: 3rem;
    text-align: center;
    letter-spacing: 2rem;
    color: white;
    padding-bottom: 5rem;

}

.container {

    width: 60%;
    height: 50%;
    margin: auto;
   text-align: center;
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
}
.mode {
    padding: 5rem 0px;
    font-weight: bold;
    font-size: 3.5rem;
}
.mode-container {
    display: flex;
    justify-content: center;
}
.mode-container  div {
    background-color: #555;
    padding: 1rem 4rem;
    border-radius: 4px;
    margin: 0px 2rem;
}
.mode-container  div:hover {
    cursor: pointer;
    background-color: #333
}

footer {
    width: 100%;
    bottom: 0;
    position: fixed;
    text-align: center;
    font-size: 1.8rem;
    padding: .4rem 0px;
    background-color: #444;
}
 a {
    text-decoration: none;
    color: white;
}
footer a:hover {
    text-decoration: underline;
}
a:visited  {
    color: white;
}
.rules {
    letter-spacing: .5rem;
}
.red-text{
    color: red !important;
}
.mode-section {
    padding: 1rem 0px;
    text-align: start;
    
}
.mode-rules > p {
    text-align: center;
    font-size: 1.5rem;
    padding: 1rem 0px;
}
@media only screen and (max-width : 400px) {
    :root {
        font-size: 8px;
    }
    .container  {
        width: 100%;
    }
}
@media only screen and (max-width : 300px) {
    :root {
        font-size: 6px;
    }

}